<banner testo="Registrazione su Twitter" />

<div class="container page-content" loading-widget="show">
    <div class="alert alert-success" ng-show="success == true">
        Ciao {{userInfo.displayName}}! <br />Ora puoi inviare i tweet direttamente con il tuo account aggiungendo tutte le informazioni che vuoi!
    </div>
    <div class="alert alert-danger" ng-show="success == false">
        Attenzione! Qualcosa non è andato bene durante la registrazione. Riprova più tardi o inviaci un'email
    </div>
    
    <div class="col-lg-4 col-xs-12 text-center">
        <a class="btn btn-lg btn-primary" target="_self" href="/">Vai all'homepage</a>
    </div>
</div>
