<banner testo="Registrazione su Twitter" />

<div class="container page-content">
    <div class="alert alert-info">
        Associando quest'app direttamente al tuo profilo Twitter potrai rivedere e personalizzare le tue segnalazioni prima di inviarle!
    </div>
    <div class="alert alert-danger">
        <strong>IMPORTANTE!</strong><br/>
        <div>Nessuna password sarà memorizzata da quest'app e potrai in ogni momento revocare
            la tua autorizzazione accedendo direttamente al tuo profilo Twitter nella sezione...</div>
    </div>
    
    <div class="col-lg-12 col-xs-12 text-center">
        <a class="btn btn-lg btn-primary" target="_self" href="/api/auth/twitter" >Login</a>
    </div>
</div>