<banner testo="Benvenuto!"/>

<div id="home-content" class="container">
    

    <ul id="main-menu-list">
        <li>
            <a class="button btn-purple" href="/#/segnalazioni/nuovo">Invia Segnalazione</a>
        </li>
        <li>
            <a class="button btn-green" href="/#/segnalazioni/">Ultime segnalazioni</a>
        </li>
        <li>
            <a class="button btn-blue" href="/#/twitter/profili">Profili Twitter</a>
        </li>
        <li>
            <a class="button btn-orange" href="/#/contatti">Contattaci</a>
        </li>
    </ul>
</div>
