<banner testo="Profili Twitter" />
<banner class="banner-grey" testo="Conosci qualche altro profilo interessante! Mandaci un'email" />

<div id="twitter-profili-view" class="container page-content">
    
    <div>
        <ul class="twitter-profili">
            <li ng-repeat="p in profili" class="twitter-profilo col-xs-5" 
                ng-style="{ 'background-color': $parent.bg_colors[$index] }"
                ng-click="goTweetsPage(p.screenName)">
                <div>
                    <img ng-src="{{p.image}}" />
                    <p ng-style="{ 'color': $parent.fg_colors[$index] }">@{{p.screenName}}</p>
                </div>

            </li>
        </ul>
    </div>

</div>
