body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.twitter-profili li {
    list-style: none;
}

.twitter-profili li {
    border: 2px solid black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
}



.tweet {
    padding: 9px 12px;
    border-bottom: 1px solid #e8e8e8;
}

.stream-items {
    margin-left: 0;
    list-style: none;
}

.stream-item {
    margin-bottom: 10px;
}

.stream-item-header .avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
}