body {
    /*padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    padding-top: 50px;
}

a {
    color: #00B7FF;
}

.twitter-profili li {
    list-style: none;
}

.twitter-profili li {
    border: 2px solid black;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-bottom: 15px;
    padding: 10px;
}



.tweet {
    padding: 9px 12px;
    border-bottom: 1px solid #e8e8e8;
}

.stream-items {
    margin-left: 0;
    list-style: none;
}

.stream-item {
    margin-bottom: 10px;
}

.stream-item-header .avatar {
    float: left;
    margin-top: 3px;
    margin-left: -58px;
}


#nuova-segnalazione-view .col-xs-12 {
    padding: 15px 0px;
}

#nuova-segnalazione-view .fermata {
    position: relative;
    top: -1px;
    border-top: 1px solid #ccc;
    padding: 9px 12px;
    font-weight: bold;
    background: #fff;
}

    #nuova-segnalazione-view .fermata:last-child {
        border-bottom: 1px solid #ccc;
    }

.fermata .check {
    width: 16px;
    height: 16px;
    border: 1px solid #444;
    background-color: transparent;
    margin-right: 20px;
    position: relative;
    top: 4px;
    float: left;
}

    .fermata .check.selected {
        background-color: green;
    }


#terzo-step {
    height: 200px;
    width: 100%;
    background: #fff;
    overflow: hidden;
    /*    overflow: scroll;
    -webkit-overflow-scrolling: touch;*/
}
