<banner testo="Benvenuto {{user.displayName}}!"/>

<div id="home-content" class="container">
    

    <ul id="main-menu-list">
        <li>
            <a class="button btn-purple" href="/segnalazioni/posizione">Segnala posizione</a>
        </li>
        <li>
            <a class="button btn-purple" href="/segnalazioni/problema">Segnala problema</a>
        </li>
        <li>
            <a class="button btn-green" href="/segnalazioni/tweets">Ultimi tweets</a>
        </li>
        <li>
            <a class="button btn-blue" href="/twitter/profili">Profili Twitter</a>
        </li>
        <li>
            <a class="button btn-orange" href="/contattaci">Contattaci</a>
        </li>
    </ul>
    
    <div ng-hide="auth.isLoggedIn()">
        <div class="col-xs-1" ng-click="cmdGoAuthTwitter()">
            <img alt="Twitter" width="64" src="/images/twitter_logo_blue.png" />
        </div>

        <div class="pull-right col-xs-8 alert alert-info" ng-click="cmdGoAuthTwitter()">
            Accedi a Twitter per personalizzare e inviare i tweet direttamente da qui! <em>Clicca qui</em>
        </div>
    </div>
</div>
