<div class="page-header">
          <h1>Segnala una linea</h1>
        </div>
        <form role="form" ng-submit="creaSegnalazione()">
          <span  class="nullable">
        <select ng-model="selectedLinea" ng-options="l.name for l in linee">
          <option value="">-- scegli linea --</option>
        </select>
        
        <select ng-model="selectedDirezione" ng-options="l.name for l in direzioni">
          <option value="">-- scegli direzione --</option>
        </select>

        <select ng-model="selectedFermata" ng-options="l.name for l in fermate">
          <option value="">-- scegli fermata --</option>
        </select>

      </span><br/>
        </form>