<div class="page-header">
    <h1>Segnala una linea</h1>
</div>
<form role="form" ng-submit="creaSegnalazione()">
    <span class="nullable">
        <select ng-model="selectedLinea" ng-options="l.name for l in linee">
            <option value="">-- scegli linea --</option>
        </select>
        <br />
        <select ng-model="selectedDirezione" ng-options="l.name for l in direzioni">
            <option value="">-- scegli direzione --</option>
        </select>
        <br />
        <select ng-model="selectedFermata" ng-options="l.name for l in fermate">
            <option value="">-- scegli fermata --</option>
        </select>

    </span><br />
    <span>{{caratteriRimanenti()}}</span>
    <textarea cols="40" rows="5" ng-model="segnalazione"></textarea>
    <button ng-click="submitSegnalazione()" >Invia</button>
</form>